.notification-wrap {
  margin: 4px;
  border-radius: .5em;
  flex-direction: row;
  padding: 2px;
  animation: slideFromTop 0.7s;
  animation-fill-mode: forwards;
  background-color: #fff;
}

.notification-close {
  animation: slideToTop 0.7s;
  animation-fill-mode: forwards;
}

.notification-item {
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 40px;
}

.notification-title {
  margin-left: -3.8em;
  flex-grow: 9;
  text-align: left;
  font-weight: bold;
}

.notification-message {
  margin: -.2em 0 1em 3.1em;
  padding: 0px 12px;
  flex-grow: 1;
  font-size: 12px;
}

.notification-icon_close {
  flex-grow: 1;
  text-align: right;
  margin-right: 12px;
  cursor: pointer;
}

.notification-icon {
  flex-grow: 1;
  text-align: left;
  margin: .2em 0 0 12px;
  font-size: 22px;
}


.notification-item_success {
  border: 2px solid var(--success-color);
  background-color: var(--success-color-back);
}

.notification-icon_success {
  color: var(--success-color);
}

.notification-item_error {
  border: 2px solid var(--error-color);
  background-color: var(--error-color-back);
}

.notification-icon_error {
  color: var(--error-color);
}

.notification-item_warning {
  border: 2px solid var(--warning-color);
  background-color: var(--warning-color-back);
}

.notification-icon_warning {
  color: var(--warning-color);
}

.notification-item_information {
  border: 2px solid var(--information-color);
  background-color: var(--information-color-back);
}

.notification-icon_information {
  color: var(--information-color);
}

@keyframes slideFromTop {
  0% {
    margin-top: 120%;
  }

  100% {
    margin-top: 0%;
  }
}

@keyframes slideToTop {
  0% {
    margin-top: 0%;
  }

  100% {
    margin-top: 120%;
  }
}
