* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  --success-color: #4dffa6;
  --success-color-back: #c6ffe3;
  --error-color: #ff1a1a;
  --error-color-back: #ffcfcf;
  --warning-color: #ffcc00;
  --warning-color-back: #fff4c6;
  --information-color: #0080ff;
  --information-color-back: #c6e3ff;
  --top-button-margin: 2em;
  --between-button-margin: 2em 1em;
  --padding-button: 16px 32px;
  --font-size-button: 16px;
}
